$font-family: Inter, Arial, sans-serif;
$font-color_main: rgba(21, 21, 21, 1);
$font-color_add: rgba(34, 34, 34, 1);
$f-s-h: 55px;
$f-l-h: 60px;
$f-w-h: 700;
$f-s-p: 18px;
$f-l-p: 28px;
$f-w-p: 400;
$op-def: 70%;
$op-hov: 75%;
$semi: 600;
$margin-sec: 120px;