.bicycles {
  margin: 0 $margin-sec;
  padding: 60px 0;
}

.bicycles__heading {
  @include font($f-w-h, $f-s-h, $f-l-h);
  margin: 0 0 120px;
}

.bicycles__heading-area {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.bicycles__label {
  @include font($semi, $f-s-p, $f-l-p);
  color: var(--additional-color);
  opacity: $op-def;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.bicycles__label:hover {
  opacity: 60%;
}

.bicycles__radio:checked + .bicycles__label{
  color: var(--primary-color);
  opacity: 100%;

}

.bicycles__radio-area {
  display: flex;
  gap: 40px;
}

.bicycles__radio {
  display: none;
}


.bicycles__gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.bicycles__wrapper {
  width: 380px;
  height: 380px;
  background-color: white;
  border-radius: 20px;
}



.bicycles__pic {
  padding: 20px;
  width: 340px;
  height: 340px;
  //border-radius: 20px;
}

.bicycles__name {
  margin: 0;
  margin-top: 22px;
  @include font($semi, $f-s-p, 22px)
}