.road {
margin-left: $margin-sec;
  padding: 60px 0;
  overflow: hidden;
}

.road__description {
  width: 460px;
}

.road__heading {
  @include font($f-w-h, $f-s-h, $f-l-h);
  margin: 0 0 50px;
  color: var(--primary-color);
}

.road__paragraph {
  @include font($f-w-p, $f-s-p, $f-l-p);
  margin: 0 0 80px;
  color: var(--additional-color);
  opacity: $op-def;
}

.road__gallery {
  display: flex;
  flex-direction: row;
  height: 400px;
}

.road__first-block {
  margin-right: 40px;
}

.road__img {
  width: 650px;
  height: 400px;
}

.road__second-block {
  width: 650px;
  height: 400px;
}

.road__button {
  padding: 0;
  margin-top: 50px;
  background-color: var(--buttons-background);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-image: var(--left-arrow);
  background-repeat: no-repeat;
  background-position: center;
}

.road__button_forward {
  background-image: var(--right-arrow);
  margin-left: 20px;
}