.intro__sticky-block {
  margin-top: 347px;
  position: sticky;
  top: 0;
  width: 440px;
  height: 300px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 79px;
  background-image: url("../../../images/bike-sticky.jpg");
  background-position: center;
  background-size: 340px 260px;
  background-repeat: no-repeat;
}