.intro__bike-name {
  @include font($f-w-p, $f-s-p, 18px);
  grid-area: bike;
  margin: 0;
  margin-right: 30px;
}

.intro__bike-wrapper {
  margin-left: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 209px;
}

.intro__bike-line {
  background-image: url("../../../images/bike_line.svg");
  width: 132px;
  height: 2px;
}